<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="AccoreLauncherBatFilePath" value="C:\temp\RunAccore - AutoCAD\RunAccore - AutoCAD.bat"/>
  </appSettings>
 
<configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccoreconsoleLauncher.DemoApp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccoreconsoleLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AccoreconsoleLauncher.DemoApp>
            <setting name="DrawingsFolderPath" serializeAs="String">
                <value />
            </setting>
        </AccoreconsoleLauncher.DemoApp>
    </applicationSettings>
    <userSettings>
        <AccoreconsoleLauncher.Properties.Settings>
            <setting name="DrawingsFolderPath" serializeAs="String">
                <value>c:\Temp</value>
            </setting>
            <setting name="MaxWaitTime" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="AutoCAD2013InstallPath" serializeAs="String">
                <value />
            </setting>
            <setting name="HideConsoleWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServiceINfolderPath" serializeAs="String">
                <value>c:\Temp\IN</value>
            </setting>
            <setting name="ServiceOUTfolderPath" serializeAs="String">
                <value>c:\Temp\OUT</value>
            </setting>
        </AccoreconsoleLauncher.Properties.Settings>
    </userSettings>
</configuration>

